<!--
  Generated template for the LaunchListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>launch-list</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div padding>
        <ion-segment [(ngModel)]="launch">
          <ion-segment-button value="latest">
            Latest
          </ion-segment-button>
          <ion-segment-button value="soon">
            Soon
          </ion-segment-button>
        </ion-segment>
      </div>
      
      <div [ngSwitch]="launch">
        <ion-list *ngSwitchCase="'latest'">
            <button ion-item *ngFor = "let launch of launchesLatest">
                <ion-avatar item-start>
                  <img src="{{ launch.links.mission_patch_small }}">
                </ion-avatar>
                <h2>
                  <div float-left>{{ launch.mission_name }}</div>
                  <div float-right>
                    <ion-badge color ="primary">{{ launch.launch_success }}</ion-badge>
                  </div>
                </h2>
                <br />
                <p>{{ launch.details }}</p>
            </button>
        </ion-list>
      
        <ion-list *ngSwitchCase="'soon'">
            <button ion-item *ngFor = "let launch of launches"> 
                <h2>
                  <div float-left>{{ launch.mission_name }}</div>
                  <div float-right>
                    <ion-badge color ="primary">{{ launch.launch_success }}</ion-badge>
                  </div>
                </h2>
                <br />
                <p>{{ launch.site_name_long }}</p>
            </button> 
        </ion-list>
      </div>

</ion-content>
